martine_username = martine
martine_groups_rw = 46hvbat
martine_groups_in =
martine_groups_out =
martine_client_p12_path = /opt/tak/tools/martine/runtime/identity/client.p12
martine_truststore_p12_path = /opt/tak/tools/martine/runtime/identity/truststore-root.p12
