aws_region =
aws_default_ami =
aws_default_vpc_id =
aws_default_subnet_id =
aws_default_security_group_id =
aws_default_key_name =
aws_default_instance_type = t3.medium
nodes_default_node_domain = aws.tak-hv-sandbox.se
launch_enabled = true
launch_default_bundle_ttl = 3600
